<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li ng-repeat="item in carousel.items track by $index" data-target="#myCarousel" data-slide-to="{{$index}}" ng-class="{active: $index == 0}"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <!-- NG-Repeat for each carousel item -->
    <div ng-repeat="item in carousel.items" class="item" ng-class="{active: $index == 0}">
      <img data-ng-src="{{item.image}}" />
      <div class="container">
        <div class="carousel-caption">
          <h1>{{item.header}}</h1>
          <p>{{item.description}}</p>
          <p><a class="btn btn-lg btn-primary" href="{{item.href}}" role="button">{{item.button.text}}</a></p>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" target="_self">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" target="_self">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div><!-- /.carousel -->
</div>
