<!-- Navbar -->
  <div class="navbar-wrapper">
    <div class="container">
      <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home" target="_self"><span id='xerorex'>XeroreX</span></a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li>
                <a href="#/Discover">Discover</a>
              </li>
              <li class="dropdown">
                <a href="#" ng-show="technologies.length" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" target="_self">Technologies<span class="caret"></span></a>
                <ul ng-show="technologies.length" class="dropdown-menu" role="menu">
                  <li ng-repeat="tech in technologies">
                    <a href="#/{{getHref(tech)}}" target="_self">{{tech.title}}</a>
                  </li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav pull-right">
              <li data-ng-repeat="item in menuItems.right">
                <a href="{{item.href}}">{{item.title}}</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
