<link rel="stylesheet" href="public/css/technology.css" media="screen" title="no title" charset="utf-8">
<br /><br /><br />
<div class="container">
  <div class="jumbotron" style="background-color: white;">
    <h1 class="title">{{technology.title}}</h1>
    <p class="subtitle lead">{{technology.subtitle}}</p>
  </div>
  <div class="row" data-ng-repeat="row in technology.rows">
    <div data-ng-switch="row.type">
      <div class="top text-center">
        <hr />
        <h3 class="title">{{row.title}}</h3>
        <br />
      </div>
      <div class="bottom" data-ng-switch-default>
          <div class="column col-lg-3 col-md-4 col-sm-6 product" data-ng-repeat="column in row.columns">
            <h2 class="title">{{column.title}}</h2>
            <p class="thumbnail-container">
              <a href="#" class="thumbnail">
                <img class="image" data-ng-src="{{column.image}}" alt="{{column.title}}"/>
              </a>
            </p>
            <p class="description" data-ng-if="column.description">{{column.description}}</p>
            <p class="buttons" data-ng-if="column.button">
              <a class="button btn btn-primary" href="{{column.button.href}}" data-ng-bind-html="toTrustedHtml(column.button.text)"></a>
            </p>
        </div>
      </div>
      <div class="sizes" data-ng-switch-when="sizes">
        <div ng-repeat="size in row.sizes" class="size-container">
          <a href="#" class="thumbnail">
            <div class="size" style="height: {{size*50/16}}px; width: {{size*50/9}}px;">
              {{size}}"
            </div>
          </a>
          <div class="text-center h3 ng-binding">
            {{size}} Inch
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
